body {
    background-image: url("../img/lobbyBackground.jpg");
}

font{
  color: white;
}

h3{
  color: white;
}



/*Quiz Lobby*/

/*Quiz Lobby Top Half*/
#ql_row1{
  width:100%;
}

#ql_Div1{
  display: inline-block;
  background:var(--main-bg-color);
  width:27%;
  margin-left:20px;
  
}

#ql_Div1_ProfileImage{
  margin-left:22%;
  width:250px;
  height:250px;
  border-style: solid;
}

#ql_Div2{
    vertical-align: top;
    text-align: center;
}

#ql_form1{
  height:100%;
}

#ql_quizName{
	margin-top: 30px;
	text-align:center;
  height: 50px;
}
#ql_nameInput{
  height:40px; 
  width:71%;
  vertical-align:top
}

#ql_otherSubject{
  height:45px; 
  width:100%;
  vertical-align:top
}

#group1_subject{
  margin-left:20px;
  margin-top: 45px;
  vertical-align: top;
  display: inline-block;
  width:16%;
      height: 50px;
  background:var(--main-bg-color);
}

#group2_numberPlayers{
  margin-top: 45px;
  vertical-align: top;
  display: inline-block;
  width:16%;
      height: 50px;
  background:var(--main-bg-color);
}


#group3_structure{
  margin-top: 45px;
  vertical-align: top;
  display: inline-block;
  width:16%;
      height: 50px;
  background:var(--main-bg-color);
}

#group4_type{
  margin-top: 45px;
  vertical-align: top;
  display: inline-block;
  width:16%;
      height: 50px;
  background:var(--main-bg-color);
}
#group5_difficulty{
  margin-top: 45px;
  vertical-align: top;
  display: inline-block;
  width:16%;
      height: 50px;
  background:var(--main-bg-color);
}



/*Quiz Lobby Bottom Half*/

#ql_row2{
	
	height:450px;
 margin-top: 40px;
 margin-left:4%;
}




#ql_buttons{
	
  margin-left:2.5%;
  display:inline-block;
  vertical-align:top;
  
  width:40%;
  height:505px;
}
#ql_button1{
	text-align: center;
  width:100%;
  height:50%;
}
#ql_button1 button{
	text-align: center;
  width:100%;
  height:90%;
  
  font-size:50px;
}
#ql_button2{
	text-align: center;
  width:100%;
  height:50%;
}
#ql_button2 button{
	text-align: center;
  width:100%;
  height:90%;
  margin-top:25px;
  
  font-size:50px;
}








#ql_userListContainer{
  display: inline-block;
  vertical-align:top;
  
  width:23%;
  margin-left: 2.5%;
  background:var(--main-bg-color);
}

#ql_userTable{
  vertical-align:top;
  text-align:center;
  border: 1px solid black;
  
    height: 500px;
  width:100%;
}

#ql_userTable tr td{
  border: 1px solid;
}

#ql_userTableHeader{
  background:var(--secondary-bg-color);
}


#ql_userTableScroll{
  width:100%;
  height:430px;
  
  overflow:auto;
}

#ql_userElement{
  width:1200px;
  background:var(--secondary-bg-color);
}

#ql_picElement{
  width:50px;
  background:var(--secondary-bg-color);
}


#userlistimage{
	width: 40px;
	height: 40px;
  	border-style: solid;
}



#preview{
  height:50px;
  width:50px;
}

/*Quiz Lobby END*/



button {
  font-family: 'open sans', helvetica, arial, sans;
}

.btn:hover {
color: #08c;
background: #e7e7e7;
text-shadow: 0 1px 0px rgba(255, 255, 255, .25);
border: 1px solid #08c;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
text-decoration:none;
}





.btn {
display: inline-block;
padding: 4px 14px;
font-size: 18px;
line-height: 20px;
color: #f1f1f1;
text-align: center;
text-shadow: 0 1px 0px rgba(255, 255, 255, .125);
vertical-align: middle;
cursor: pointer;
background-color: #08c;
border: 1px solid #e7e7e7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

